In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('Listings_small.csv')

(1) Find the data types for each column for listings dataset

In [ ]:
df

In [ ]:
df.dtypes

(2)  Find the descriptive statistics for listings dataset

In [ ]:
df.describe

(3) Find how many null values per column

In [ ]:
df.isnull(). sum()

(4)  Find how many listings per property type

In [ ]:
df['property_type']. value_counts()

(5)  Replace f/t values of instant bookable column to No/Yes respectively (hint: inplace = True)

In [ ]:
df.instant_bookable.replace(('f', 't'),('No', 'Yes'),inplace=True)

(6)  Sort dataset by price in descending order (hint: inplace = True

In [ ]:
df.sort_values( by= 'price', ascending=True )

(7) Fill empty (nan) values of host_response_time to N/A

In [ ]:
df['host_response_time'] = df['host_response_time'].replace(np.NaN, 'N/A')

In [ ]:
df

(8)  Find how many listings per host_response_time in a pie chart (hint: unique() and 
value_counts()

In [ ]:
df['host_response_time'].unique()

In [ ]:
df['host_response_time'].drop_duplicates()

In [ ]:
df['host_response_time']. value_counts()

In [ ]:
labels = df.host_response_time
sizes = df.value_counts

In [ ]:
labels = (['within an hour','within a few hours', 'within a day',
       'a few days or more'])
sizes = (['266','154','115','32'])
explode = (0.1, 0, 0, 0)  # only "explode" the 1st slice (The biggest)

fig1, ax1 = plt.subplots()
ax1.pie( sizes,  labels = labels, autopct='%1.1f%%', shadow=True, startangle=90, explode= (0.1, 0, 0, 0))
ax1.axis('equal')    # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

(9)  Find the average price per city and visualize it in a sorted, bar chart

In [ ]:
df ['city'].value_counts()

In [ ]:
df.groupby('city')['price'].agg(['mean']).sort_values('mean', ascending=False)

In [ ]:
city = list({'Mexico City', 'Cape Town', 'Bangkok', 'Sydney',
             'Hong Kong', 'Istanbul', 'Rio de Janeiro', 'New York',
             'Paris', 'Rome'})
price = list({2392.81,  2101.61,  1673.82,  1110.43,  979.00, 
               557.06,  431.37, 151.34,  107.65,  87.55})
  
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar( city, price , color = 'blue', width = 0.5)

plt.xlabel('city')
plt.ylabel ('price')
plt.title('Average Price per City')
#Add label to x axis 
#Add label to y axis
#Add title to plot
plt.show()